main {
  width: 1080px;
  margin: auto;
}

.add-form {
  margin: 50px auto;
  width: 1000px;
}

.add-button {
  width: 1000px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
}

.button {
  font-size: 20px;
  margin-right: 20px;
  padding: 0px 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.button:hover {
  color: #f2f2f2 !important;
  background: rgb(148, 127, 116) !important;
}

.add-information {
  margin-top: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
}

.information {
  margin-right: 20px;
}

.information-date {
  margin-right: 0px;
}

.add-detail {
  margin-top: 20px;
}

.add-detail__diary {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.add-diary__days {
  margin-right: 30px;
}

.circle {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border-style: dotted;
}

.add-diary__circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.add-diary__circle p {
  position: absolute;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
